<a href="https://colab.research.google.com/github/Arisha2902/AI---internship/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("1"+ 123)

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = [1,1,2,5]
b = tuple(a)
print(type(b))
print(type(a))
print(b)

<class 'tuple'>
<class 'list'>
(1, 1, 2, 5)

In [ ]:
C = set(b)
print(C)

{1, 2, 5}